<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.equil.smart.pen" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>EquilSmartPen</name>
    <js-module name="EquilSmartPen" src="www/EquilSmartPen.js">
        <clobbers target="cordova.plugins.EquilSmartPen" />
    </js-module>
</plugin>
